@page "/meraki-showcase"
@model Electra.MerakiUI.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meraki UI Component Demo</title>
</head>
<body>
</body>
</html>
