@using Aero.Cms.Models
@model BlockDocument

<section class="py-12">

    <div class="container mx-auto px-4 prose max-w-none">

        @Html.Raw(Model.GetValue<string>("Content"))

    </div>

</section>
