@inherits MerakiComponentBase

<a href="@Href" class="px-2.5 py-2 transition-colors duration-300 transform rounded-lg md:mx-2 @(IsActive ? "text-blue-500 dark:text-blue-400" : "text-gray-700 dark:text-gray-200 hover:bg-gray-100 dark:hover:bg-gray-700") @Class" @attributes="AdditionalAttributes">
    @ChildContent
</a>
