@inherits MerakiComponentBase

<div class="flex items-center py-4 overflow-x-auto whitespace-nowrap @Class" id="@Id" @attributes="AdditionalAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>
