@typeparam TItem

@ChildContent
<div @ref="_dropZoneContainer" class="@Class">
    @foreach (var keyedItem in _keyedItems)
    {
        <Keyed @key="keyedItem.Key">
            @Template(keyedItem.Item) 
        </Keyed>
    }
</div>
