@inherits MerakiComponentBase

<aside class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto bg-white border-r rtl:border-r-0 rtl:border-l dark:bg-gray-900 dark:border-gray-700 @Class" id="@Id" @attributes="AdditionalAttributes">
    <a href="#">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white">@BrandName</h2>
    </a>

    <div class="flex flex-col justify-between flex-1 mt-6">
        <nav>
            @ChildContent
        </nav>
    </div>
</aside>
