@inherits MerakiComponentBase

<section class="bg-white dark:bg-gray-900 @Class" id="@Id" @attributes="AdditionalAttributes">
    <div class="container flex flex-col items-center px-4 py-12 mx-auto text-center">
        <h2 class="max-w-2xl mx-auto text-2xl font-semibold tracking-tight text-gray-800 xl:text-3xl dark:text-white">
            @Title
        </h2>

        @if (!string.IsNullOrEmpty(Description))
        {
            <p class="max-w-4xl mt-6 text-center text-gray-500 dark:text-gray-300">
                @Description
            </p>
        }

        <div class="inline-flex w-full mt-6 sm:w-auto">
            <a href="@ButtonUrl" class="inline-flex items-center justify-center w-full px-6 py-2 text-white duration-300 bg-blue-600 rounded-lg hover:bg-blue-500 focus:ring focus:ring-blue-300 focus:ring-opacity-80">
                @ButtonText
            </a>
        </div>
    </div>
</section>
