@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode
@implements ZauberCMS.Core.Content.Interfaces.IContentBlockView
@if (Content != null)
{
    <div>
        @((MarkupString)(Content.GetValue<string>(PropertyName) ?? string.Empty))
    </div>
}

@code {
    [Parameter] public Content? Content { get; set; }
    [Parameter] public string PropertyName { get; set; } = "Text";
    public string ContentTypeAlias => "RichTextEditor";
    public RenderMode RenderMode => RenderMode.Static;
}