<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/Aero.CMS.Web.styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/sortable/Sortable.min.js"></script>
    <script src="_content/Aero.CMS.Components/sortableInterop.js"></script>
</body>
</html>
