<div>Choose where to move @Item.Name to in the tree structure below</div>

<EditorRow>
    <CentreColumn>
        @if (ParentId != null)
        {
            <div class="pb-2">
                <TreeButton Icon="start" Name="Move To Root" OnClick="SetAsRoot" />
            </div>
        }
        <ContentTree ValueChanged="OnValueChangedHandler" DisableContextMenu="@(true)"/>
    </CentreColumn>
</EditorRow>


<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Right" AlignItems="AlignItems.Center" class="rz-mt-3">
    <RadzenButton ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Icon="save" Text="Save" Click="Save"/>
</RadzenStack>


@code {
    [Parameter, EditorRequired] public Content Item { get; set; } = null!;
    [Parameter] public string? ParentId { get; set; }

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = null!;
    private void OnValueChangedHandler(object value)
    {
        if (value is Content baseItem)
        {
            if (baseItem.Id != Item.Id)
            {
                ParentId = baseItem.Id;
            }
        }
    }

    private async Task Save()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(ParentId ?? Guid.Empty.ToString()));
    }
    
    private async Task SetAsRoot()
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(Guid.Empty.ToString()));
    }
}