@using ZauberCMS.Core.Content.Parameters

@foreach (var content in UnpublishedContent)
{
    <p>
        <a href="@Urls.AdminUpdateContent/@content.Id">@content.Name</a>
    </p>
}

@code {
    private IEnumerable<Content> UnpublishedContent { get; set; } = [];
    
    protected override async Task OnInitializedAsync()
    {
        var items = await ContentService.QueryContentAsync(new QueryContentParameters { AmountPerPage = 100, OnlyUnpublished = true });
        UnpublishedContent = items.Items;
    }
}