@model List<SiteDocument>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Sites";
}

<div class="mb-4">
    <h1 class="text-2xl font-semibold text-gray-900">Sites</h1>
</div>

<div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-xl font-bold leading-none text-gray-900">All Sites</h3>
        <a href="#" class="text-sm font-medium text-blue-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2">
            Add Site
        </a>
    </div>
    <div class="flex flex-col mt-8">
        <div class="overflow-x-auto rounded-lg">
            <div class="align-middle inline-block min-w-full">
                <div class="shadow overflow-hidden sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                                <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Hostnames</th>
                                <th scope="col" class="p-4 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actions</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var site in Model)
                            {
                                <tr>
                                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-900">@site.Name</td>
                                    <td class="p-4 whitespace-nowrap text-sm font-normal text-gray-500">@string.Join(", ", site.Hostnames)</td>
                                    <td class="p-4 whitespace-nowrap text-sm font-semibold text-gray-900">
                                        <a href="/cms-admin/site/@site.Id/pages" class="text-blue-600 hover:underline">Manage Pages</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
